{%  load static %}
<!DOCTYPE html>
{%  block content %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shri Sanwariya Seth</title>
    {% include 'links.html' %}

    <!-- main css for template -->
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <style>
 .register{
     background: -webkit-linear-gradient(left, #4a2a02, #c1ab0c);
    margin-top: 3%;
    padding: 3%;
    margin-bottom:3%;
}
.form-group {
    margin-bottom:20px;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 8%;
    margin: 1%;
}
.btnRegister {
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 4%;
    background: #e5b610;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}

.btnLogin {
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #e5b610;
    color: #fff;
    font-weight: 600;
    width: 30%;
    cursor: pointer;
}

.register .nav-tabs{
    margin-top: 6%;
    border: none;
   background: #e5b610;
    border-radius: 1.5rem;
   /* width: 28%;
    float: right;*/
}
.register .nav-tabs .nav-link{
    padding-left: 2%;
     padding-right: 2%;
    height: 40px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
   /* width: 100px;*/
    color: #dfbb0d;
    border: 2px solid #dfbb0d;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 10%;
    margin-bottom: -15%;
    color: #495057;
}
.register-left h3{
    color:#fff;
}
#myTab1{
   /* float:left;*/
    margin-left:50px;
}
.register{
    padding:3% !important;
    width:80% !important;
}

.inlineimage{max-width:470px;margin-right: 8px;margin-left: 10px}
.images{display: inline-block;max-width: 98%;height: auto;width: 22%;margin: 1%;left:20px;text-align: center}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
    </style>
</head>

<body>
      {% include 'donation-header.html' %}
    
   <div class="container-fluid register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <!-- <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/> -->
                        <h3>Welcome to <br>shri<br>sanwariyaseth</h3>
                    </div>
                    
                    <div class="col-md-12 register-right">
                         <ul class="nav nav-tabs nav-justified" id="myTab1" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="qr-tab" data-toggle="tab" href="#qr" role="tab" aria-controls="qr" aria-selected="true" >Pay with QR Code</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="hqr-tab" data-toggle="tab" href="#hqr" role="tab" aria-controls="hqr" aria-selected="false" >Pay via Net Banking/Card</a>  </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active qr" id="qr" role="tabpanel" aria-labelledby="qr-tab">
   <!--  <h3  class="register-heading">Donate Via QR</h3>-->
                                  <div class="row register-form">
                                    <div class ="col-md-6 qr-code">
                                      <img src="{% static 'images/qr_1.jpg' %}"  class="center">
                                      <p  class="center">shris946021010@barodampay</p>
                                    </div>
                                    <div class ="col-md-6 qr-code">
                                      <img src="{% static 'images/qr_2.jpg' %}"  class="center">
                                      <p  class="center">shrisanwaliyaji@indianbk</p>
                                    </div>
                                    <div class ="col-md-6 qr-code">
                                      <img src="{% static 'images/qr_3.jpg' %}"  class="center">
                                      
                                      <p  class="center">JAISAWARIYAJI@SBI</p>
                                    </div>
                                    <div class ="col-md-6 qr-code">
                                      <img src="{% static 'images/qr_4.jpg' %}"  class="center">
                                      
                                      <p  class="center">9640224091m@pnb</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade show hqr" id="hqr" role="tabpanel" aria-labelledby="hqr-tab">
                               <!--<h3  class="register-heading">Credit/Debit Card</h3>--> 
                                <div class="row register-form">
                                     <div class ="col-md-12s qr-code">
                                        <div class="container">
                                            <div class="page-header text-center">
                                              <!--  <h1>Credit Card Payment Gateway</h1>-->
                                            </div>
                                            <!-- Credit Card Payment Form - START -->
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-12 col-md-offset-4">
                                                        <div class="panel panel-default">
                                                     <!--      <div class="panel-heading">
                                                                <div class="row">
                                                                  <h3 class="text-center">Payment Details</h3>
                                                                    <div class="inlineimage"> <img class="img-responsive images" src="https://cdn0.iconfinder.com/data/icons/credit-card-debit-card-payment-PNG/128/Mastercard-Curved.png"> <img class="img-responsive images" src="https://cdn0.iconfinder.com/data/icons/credit-card-debit-card-payment-PNG/128/Discover-Curved.png"> <img class="img-responsive images" src="https://cdn0.iconfinder.com/data/icons/credit-card-debit-card-payment-PNG/128/Paypal-Curved.png"> <img class="img-responsive images" src="https://cdn0.iconfinder.com/data/icons/credit-card-debit-card-payment-PNG/128/American-Express-Curved.png"> </div>
                                                                </div>
                                                            </div>-->  
                                                            <form role="form" action="/handlePayment" method="POST">
                                                           <div class="panel-body">
                                                              
                                                                    <div class="row">
                                                                        <div class="col-xs-6">
                                                                            <div class="form-group"> 
                                                                                <div class="input-group">
                                                                                    <label>Currency:</label>&nbsp;&nbsp;&nbsp;
                                                                                    <select name="currency">
                                                                                    <option value="INR">INR</option>
                                                                                     </select> 
                                                                            </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-xs-6">
                                                                            <div class="form-group"> <div class="input-group"><label>Amount:</label> &nbsp;&nbsp;&nbsp;
                                                                                 <input type="number" class="form-control" placeholder="0.00" min="1" name="amount" /> </div>
                                                                        </div> </div>
                                                                    </div>
                                                                    <input type="hidden" name="merchant_id" id="merchant_id" value="2" /> 
                                                                    <input type="hidden" name="order_id" value="2123" />
                                                                                <input type="hidden" name="language" id="language" value="EN" />
                                                                                                <input type="hidden" name="billing_name" value="Peter" />
                                                                                                <input type="hidden" name="billing_address"  value="Santacruz" />
                                                                                                <input type="hidden" name="billing_city" value="Mumbai" />
                                                                                                <input type="hidden" name="billing_state" value="MH" />
                                                                           <input type="hidden" name="billing_zip" value="400054" />
                                                                                <input type="hidden" name="billing_country" value="India" />
                                                                            
                                                                                <input type="hidden" name="billing_tel" value="0229874789" />
                                                                             
                                                                                <input type="hidden" name="billing_email"
                                                                                    value="testing@domain.com" />
                                                                                <input type="hidden" name="delivery_name" value="Sam" />
                                                                                <input type="hidden" name="delivery_address"
                                                                                    value="Vile Parle" />
                                                                            <input type="hidden" name="delivery_city" value="Mumbai" />
                                                                                <input type="hidden" name="delivery_state" value="Maharashtra" />
                                                                                <input type="hidden" name="delivery_zip" value="400038" />
                                                                            <input type="hidden" name="delivery_country" value="India" />
                                                                                <input type="hidden" name="delivery_tel" value="0221234321"/>
                                                                                <input type="hidden" name="merchant_param1"
                                                                                    value="additional Info." /><input type="hidden" name="merchant_param2"
                                                                                    value="additional Info." /><input type="hidden" name="merchant_param3"
                                                                                    value="additional Info." />
                                                                                    <input type="hidden" name="merchant_param4"
                                                                                    value="additional Info." />
                                                                                    <input type="hidden" name="merchant_param5"
                                                                                    value="additional Info." />
                                                                         
                                                                                <input type="hidden" name="integration_type"
                                                                                    value="iframe_normal" />
                                                                            <input type="hidden" name="promo_code" value=""/>
                                                                            <input type="hidden" name="customer_identifier" value=""/>
                                                                           
                                                            </div>
                                                            <div class="panel-footer">
                                                                <div class="row">
                                                                    <div class="col-xs-12"> <input type="submit" class="form-control" placeholder="Confirm Payment" /> <!-- <button class="btn btn-success btn-lg btn-block">Confirm Payment</button>--> </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <!--  <body>
                                            <center>-->
                                            <!-- width required mininmum 482px -->
                                                 <!--  <iframe  width="482" height="500" scrolling="No" frameborder="0"  id="paymentFrame" src="https://test.ccavenue.com/transaction/transaction.do?command=initiateTransaction&merchant_id=2571730&encRequest=$encReq&access_code=AVNU78KF77BH71UNHB">
                                                  </iframe>
                                            </center>
                                            
                                            <script type="text/javascript">
                                                $(document).ready(function(){
                                                    $('iframe#paymentFrame').load(function() {
                                                         window.addEventListener('message', function(e) {
                                                             $("#paymentFrame").css("height",e.data['newHeight']+'px'); 	 
                                                          }, false);
                                                     }); 
                                                });
                                            </script>
                                          </body>-->
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
     {% include 'footer.html' %}
    <!-- ================> Footer section end here <================== --><!-- scrollToTop start here -->
    <a href="#" class="scrollToTop"><i class="fas fa-arrow-up"></i><span class="pluse_1"></span><span class="pluse_2"></span></a>
    <!-- scrollToTop ending here -->
     
<script>
    $(document).ready(function() {
  // Get a reference to the audio element
  var audio = document.getElementById("myAudio");

  // Get a reference to the play button
  var playButton = document.getElementById("playButton");
 var playButton1 = document.getElementById("playButton1");
  // Add an event listener to the play button
  $('#playButton').css('display','none');
   $('#playButton1').css('display','block');
  audio.pause();
  playButton.addEventListener("click", function() {
    // Toggle the playing state of the audio
    if (audio.paused) {
      audio.play();
      $('#playButton').show();
       $('#playButton1').hide();
     
    } else {
      audio.pause();
      $('#playButton1').show();
       $('#playButton').hide();
    }
  });
  playButton1.addEventListener("click", function() {
    // Toggle the playing state of the audio
    if (audio.paused) {
      audio.play();
      $('#playButton').show();
       $('#playButton1').hide();
     
    } else {
      audio.pause();
      $('#playButton1').show();
       $('#playButton').hide();
    }
  });
});
</script>
{% endblock  %} 
</body>
</html>
