{%  load static %}
<!DOCTYPE html>
{%  block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shri Sanwariya Seth</title>
    {% include 'links.html' %}

    <!-- main css for template -->
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      text-align:center;
    }
    table{
        width:100%; 
        text-align:center;
        display:flex;
    }
    table{
        margin-bottom:20px;
        margin-top:0px;
      
    }
</style>
</head>
<body>
    {% include 'fest-header1.html' %}
    <div class="header-banner">
       <img src="{% static 'images/Fastival.jpg' %}" alt="About Us">
        <div class="max-container">
            <div class="header-banner-inner">
              <h1 style="text-align:center; margin-left:90px; color:#e5b610; margin:20px">समारोह</h1>
            </div>
        </div>
    </div> 
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <table>
                    <tr>
                        <th colspan='2' style="background-color:#e5b610">अप्रैल-2023</th>
                    </tr>
                    <tr>
                        <th>दिनांक समय</th>
                        <th>आयोजन</th>
                    </tr>
                   <tr>
                         <td>01.04.2023<br>शनिवार </td>
                         <td>चैत्र शुक्ल पक्ष की एकादशी पर्व पर एकादशी कथा का पाठ किया जाएगा।</td>
                     </tr>
                     <tr>
                         <td>06.04.2023 <br>गुरुवार</td>
                         <td>चैत्र मास शुक्ल पक्ष की पूर्णिमा को हनुमान जयंती का पर्व मनाया जाएगा।</td>
                     </tr>
                     <tr>
                         <td>16.04.2023<br> रविवार</td>
                         <td>वैशाख कृष्ण पक्ष की एकादशी पर्व पर एकादशी कथा का पाठ किया जाएगा।</td>
                     </tr>
                     <tr>
                         <td>19.04.2023<br> बुधवार</td>
                         <td>वैशाख कृष्ण पक्ष चतुर्दशी को सुबह 11.45 बजे भगवान श्री सांवलियाजी का स्टोर खोला जाएगा।</td>
                     </tr>
                     <tr>
                         <td>20.04.2023<br> गुरुवार</td>
                         <td> वैशाख मास अमावस्या पर शाम 6.00 बजे महाप्रसाद वितरण</td>
                     </tr>
                </table>
            </div>
            <div class="col-md-6">
                <table>
                    <tr>
                        <th colspan='2' style="background-color:#e5b610">मई-2023</th>
                    </tr>
                    <tr>
                        <th style='width: 12%;'>दिनांक समय</th>
                        <th>आयोजन</th>
                    </tr>
                 <tr>
                     <td>01.05.2023<br> सोमवार </td>
                     <td>वैशाख शुक्ल पक्ष की एकादशी पर्व पर एकादशी कथा का पाठ किया जाएगा।</td>
                   </tr>
                   <tr>
                     <td>15.05.2023<br> सोमवार</td>
                     <td>ज्येष्ठ मास के कृष्ण पक्ष की एकादशी पर्व पर एकादशी कथा का पाठ किया जाएगा।</td>
                   </tr>
                   <tr>
                     <td>18.05.2023<br> गुरुवार</td>
                     <td>ज्येष्ठ कृष्ण पक्ष चतुर्दशी को प्रातः 11.45 बजे भगवान श्री सांवलियाजी का भण्डार खुलेगा</td>
                   </tr>
                   <tr>
                     <td>19.05.2023<br> शुक्रवार </td>
                     <td>ज्येष्ठ मास अमावस्या पर शाम 6.00 बजे महाप्रसाद वितरण।</td>
                   </tr>
                   <tr>
                     <td>31.05.2023 <br>बुधवार</td>
                     <td>ज्येष्ठ मास शुक्ल पक्ष निर्जला एकादशी पर्व पर होगी एकादशी कथा का पाठ भगवान श्री सांवलिया जी की बेवन यात्रा रात 9.15 बजे से प्रारंभ होगी।</td>
                   </tr>
                </table>
            </div>
        </div>
          <div class="row">
            <div class="col-md-6">
                <table>
                    <tr>
                        <th colspan='2' style="background-color:#e5b610">जून-2023</th>
                    </tr>
                    <tr>
                        <th style='width: 12%;'>दिनांक समय</th>
                        <th>आयोजन</th>
                    </tr>
                  <tr>
                     <td>14.06.2023 <br>बुधवार </td>
                     <td> आषाढ़ मास के कृष्ण पक्ष की एकादशी पर्व पर एकादशी कथा का पाठ किया जाएगा।</td>
                   </tr>
                   <tr>
                     <td>17.06.2023<br> शनिवार</td>
                     <td>आषाढ़ मास के कृष्ण पक्ष चतुर्दशी को प्रातः 11.45 बजे भगवान श्री सांवलियाजी का भण्डार खुलेगा।</td>
                   </tr>
                   <tr>
                     <td>18.06.2023 <br>रविवार</td>
                     <td>आषाढ़ मास अमावस्या पर शाम 6.00 बजे महाप्रसाद वितरण।</td>
                   </tr>
                   <tr>
                     <td>29.06.2023 <br>गुरुवार</td>
                     <td>आषाढ़ मास के शुक्ल पक्ष की देवशयनी एकादशी पर्व पर एकादशी कथा का पाठ किया जाएगा और भगवान श्री सांवलियाजी की बेवन यात्रा रात 9.15 बजे से प्रारंभ होगी।</td>
                   </tr>
                </table>
            </div>
            <div class="col-md-6">
                 <table>
                    <tr>
                        <th colspan='2' style="background-color:#e5b610">जुलाई-2023</th>
                    </tr>
                    <tr>
                        <th style='width: 12%;'>दिनांक समय</th>
                        <th>आयोजन</th>
                    </tr>
                <tr>
                     <td>03.07.2023 <br>सोमवार</td>
                     <td> आषाढ़ मास शुक्ल पक्ष गुरु पूर्णिमा (गुरु पर्व) मनाया जाएगा।</td>
                   </tr>
                   <tr>
                     <td>04.07.2023<br> मंगलवार </td>
                     <td>अखंड रामायण पाठ, रुद्राभिषेक और | अन्य धार्मिक कार्यक्रम प्रारंभ और पूर्णिमा व्रत।</td>
                   </tr>
                   <tr>
                     <td>13.07.2023 <br>गुरुवार</td>
                     <td>श्रावण मास के प्रथम कृष्ण पक्ष की एकादशी पर्व पर एकादशी कथा का पाठ किया जाएगा</td>
                   </tr>
                   <tr>
                     <td>16.07.2023 <br>रविवार</td>
                     <td>श्रावण मास के प्रथम पक्ष चतुर्दशी को सुबह 11.45 बजे भगवान श्री सांवलियाजी का भंडार खोला जाएगा।</td>
                   </tr>
                   <tr>
                     <td>17.07.2023 <br>सोमवार</td>
                     <td>महाप्रसाद प्रथम श्रावण मास अमावस्या को शाम 6.00 बजे और | हरियाली अमावस्या पर्व मनाया जाएगा। सांस्कृतिक कार्यक्रम रात 9 बजे से। आयोजित किया जाएगा।</td>
                   </tr>
                   <tr>
                     <td>18.07.2023 <br>मंगलवार</td>
                     <td>प्रथम श्रावण मास (पुरुषोत्तम मास) शुक्ल पक्ष की प्रतिप्रदा से पुरुषोत्तम मास की कथा प्रारंभ होती है..</td>
                   </tr>
                   <tr>
                     <td>29.07.2023 <br>शनिवार</td>
                     <td>पहले श्रावण मास (पुरुषोत्तम मास) शुक्ल पक्ष की एकादशी पर्व पर एकादशी कथा का पाठ किया जाएगा।</td>
                   </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                 <table>
                    <tr>
                        <th colspan='2' style="background-color:#e5b610">अगस्त-2023</th>
                    </tr>
                    <tr>
                        <th style='width: 12%;'>दिनांक समय</th>
                        <th>आयोजन</th>
                    </tr>
                 <tr>
                     <td>11.08.2023 <br>शुक्रवार</td>
                     <td> श्रावण मास के कृष्ण पक्ष की द्वितीया तिथि को एकादशी कथा का पाठ किया जाएगा।</td>
                   </tr>
                   <tr>
                     <td>15.08.2023 <br>मंगलवार </td>
                     <td>दूसरे श्रावण मास कृष्ण पक्ष चतुर्दशी को भगवान श्री सांवलियाजी का भंडार प्रातः 11.45 बजे खुलेगा।</td>
                   </tr>
                   <tr>
                     <td>16.08.2023 <br>बुधवार</td>
                     <td>द्वितीय श्रावण मास कृष्ण पक्ष अमावस्या को शाम 6.00 बजे महाप्रसाद वितरण</td>
                   </tr>
                   <tr>
                     <td>27.08.2023 <br>रविवार</td>
                     <td>श्रावण मास के शुक्ल पक्ष की एकादशी पर्व के दिन एकादशी कथा का पाठ किया जाएगा</td>
                   </tr>
                   <tr>
                     <td>30.08.2023<br> बुधवार</td>
                     <td>अखंड रामायण पाठ, रुद्राभिषेक और अन्य धार्मिक कार्यक्रम समाप्त होते हैं और दूसरे श्रावण मास के शुक्ल पक्ष की पूर्णिमा को रक्षा बंधन का त्योहार मनाया जाएगा।</td>
                   </tr>
                </table>
            </div>
        
         
            <div class="col-md-6">
                 <table>
                    <tr>
                        <th colspan='2' style="background-color:#e5b610">सितंबर-2023</th>
                    </tr>
                    <tr>
                        <th style='width: 12%;'>दिनांक समय</th>
                        <th>आयोजन</th>
                    </tr>
                  <tr>
                     <td>01.09.2023<br> शुक्रवार</td>
                     <td>हवन-पूजा कार्यक्रम भाद्रपद कृष्ण पक्ष द्वितीया (प्रतिपदा क्षय) पर आयोजित किया जाएगा।</td>
                   </tr>
                   <tr>
                     <td>07.09.2023<br> गुरुवार</td>
                     <td>भाद्रपद मास का कृष्ण जन्माष्टमी पर्व रात्रि 12.00 बजे (सूर्योदय के आधार पर नक्षत्रों के अनुसार) एवं पंजेरी प्रसाद वितरण एवं नंदोत्सव पर्व मनाया जाएगा</td>
                   </tr>
                   <tr>
                     <td>10.09.2023<br> रविवार</td>
                     <td>भाद्रपद मास कृष्ण पक्ष की एकादशी पर्व पर एकादशी कथा का पाठ किया जाएगा।</td>
                   </tr>
                   <tr>
                     <td>13.09.2023 <br>बुधवार</td>
                     <td>भाद्रपद कृष्ण पक्ष चतुर्दशी को भगवान श्री सवालियाजी का भंडार सुबह 11.45 बजे खोला जाएगा।</td>
                   </tr>
                   <tr>
                     <td>14.09.2023<br> गुरुवार</td>
                     <td>भाद्रपद कृष्ण पक्ष अमावस्या पर शाम 6.00 बजे महाप्रसाद वितरण।</td>
                   </tr>
                   <tr>
                     <td>24.09.2023<br> रविवार</td>
                     <td>भाद्रपद मास शुक्ल पक्ष दशमी को विशाल मेला भगवान श्री सवालिया जी की शोभा यात्रा एवं झाणकिया दोपहर 2.00 बजे से प्रारंभ होकर रात्रि में विभिन्न | सांस्कृतिक कार्यक्रमों का आयोजन किया जाएगा।</td>
                   </tr>
                   <tr>
                     <td>25.09.2023 <br>सोमवार</td>
                     <td>भाद्रपद मास शुक्ल पक्ष की एकादशी को विशाल मेला भगवान श्री सवालियाजी की रथयात्रा एवं झांकिया दोपहर 12 बजे से प्रारंभ होगा तथा रात्रि में विविध आयोजन होंगे। सांस्कृतिक कार्यक्रमों का आयोजन होगा। एकादशी कथा का पाठ किया जाएगा।</td>
                   </tr>
                   <tr>
                     <td>26.09.2022<br> मंगलवार</td>
                     <td>भाद्रपद मास शुक्ल पक्ष द्वादशी को विशाल मेले का समापन एवं नि:शक्तजनों को ट्राइसाइकिल एवं सांस्कृतिक कार्यक्रमों का वितरण</td>
                   </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <table>
                    <tr>
                        <th colspan='2' style="background-color:#e5b610">अक्टूबर-2023</th>
                    </tr>
                    <tr>
                        <th style='width: 12%;'>दिनांक समय</th>
                        <th>आयोजन</th>
                    </tr>
                    <tr>
                         <td>10.10.2023 <br>मंगलवार</td>
                         <td>आश्विन मास कृष्ण पक्ष की एकादशी पर्व पर एकादशी कथा का पाठ किया जाएगा।</td>
                     </tr>
                     <tr>
                         <td>13.10.2023 <br>शुक्रवार</td>
                         <td> आश्विन मास कृष्ण पक्ष चतुर्दशी को प्रात: 11.45 बजे भगवान श्री सांवलियाजी का भण्डार खुलेगा</td>
                     </tr>
                     <tr>
                         <td>14.10.2023 शनिवार</td>
                         <td>महाप्रसाद वितरण आश्विन मास कृष्ण पक्ष अमावस्या को शाम 6.00 बजे। सूर्य ग्रहण अमान्य है। कोई मान्यता नहीं होगी।</td>
                     </tr>
                     <tr>
                         <td>25.10.2023 बुधवार</td>
                         <td>आश्विन मास शुक्ल पक्ष की एकादशी पर्व पर एकादशी कथा का पाठ किया जाएगा</td>
                     </tr>
                     <tr>
                         <td>28.10.2023 <br>शनिवार</td>
                         <td>भगवान श्री | सावलियाजी की आरती व खीर का भोग लगाकर प्रसाद वितरण किया। पूर्णिमा व्रत रखा जाएगा। सत्यनारायण कथा का पाठ होगा। चंद्र ग्रहण </td>
                      </tr>
                     <tr>
                         <td>29.10.2023<br> रविवार</td>
                         <td>कार्तिक मास की कहानी शुरू होगी। (अनुवाद)</td>
                     </tr>
                </table>
            </div>
            
        
            <div class="col-md-6">
                <table>
                    <tr>
                        <th colspan='2' style="background-color:#e5b610">नवंबर-2023</th>
                    </tr>
                    <tr>
                        <th style='width: 12%;'>दिनांक समय</th>
                        <th>आयोजन</th>
                    </tr>
                    <tr>
                         <td>09.11.2023 <br>गुरुवार</td>
                         <td>कार्तिक मास कृष्ण पक्ष की एकादशी पर्व पर एकादशी कथा का पाठ किया जाएगा।</td>
                     </tr>
                     <tr>
                         <td>12.11.2023<br> रविवार</td>
                         <td>कार्तिक मास कृष्ण पक्ष चतुर्दशी के दिन महालक्ष्मी पूजा, मुख्य मंदिर में दान पेटी का पूजन और मंदिर मंडल के सभी वाहनों/संसाधनों का पूजन।</td>
                     </tr>
                     <tr>
                         <td>13.11.2023<br> सोमवार</td>
                         <td>कार्तिक मास कृष्ण पक्ष अमावस्या को अन्नकूट पर्व शाम 04:00 बजे गोवर्धन पूजा और रात 9 बजे राजभोग, अन्नकूट का भोग लगाया जाएगा. महाप्रसाद में मालपुए का प्रसाद बांटा जाएगा
                     </tr>
                     <tr>
                         <td>23.11.2023<br> गुरुवार</td>
                         <td>कार्तिक मास शुक्ल पक्ष देवउठनी एकादशी को एकादशी कथा का पाठ किया जाएगा और रात 9.15 बजे भगवान श्री सवालियाजी की बेवन यात्रा निकाली जाएगी।</td>
                     </tr>
                     <tr>
                         <td>27.11.2023<br> सोमवार</td>
                         <td>कार्तिक शुक्ल पूर्णिमा, कार्तिक मास कथा का समापन।</td>
                     </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <table>
                    <tr>
                        <th colspan='2' style="background-color:#e5b610">दिसंबर-2023</th>
                    </tr>
                    <tr>
                        <th style='width: 12%;'>दिनांक समय</th>
                        <th>आयोजन</th>
                    </tr>
                  <tr>
                        <td>08.12.2023 <br>Friday</td>
                        <td>Ekadashi story will be recited on Marshish month Krishna Paksha Ekadashi festival.</td>
                    </tr>
                    <tr>
                        <td>11.12.2023 <br>Monday</td>
                        <td> Lord Shri Sawaliyaji's store in the morning on Marshish month Krishna Paksha Chaturdashi Will be opened at 11.45.</td>
                    </tr>
                    <tr>
                        <td>12.12.2023 <br>Tuesday</td>
                        <td>Mahaprasad distribution on Marshish Krishna Paksha Amavasya at 6.00 pm.</td>
                    </tr>
                    <tr>
                        <td>22.12.2023 Friday </td>
                        <td>Ekadashi story will be read on Marshish month Shukla Paksha Ekadashi festival</td>
                    </tr>
                </table>
            </div>
            
        
            <div class="col-md-6">
                <table>
                    <tr>
                        <th colspan='2' style="background-color:#e5b610">January-2024</th>
                    </tr>
                    <tr>
                        <th style='width: 12%;'>Date & Time</th>
                        <th>आयोजन</th>
                    </tr>
                   <tr>
                         <td>07.01.2024<br> रविवार</td>
                         <td>पौष मास कृष्ण पक्ष की एकादशी के अवसर पर एकादशी कथा का पाठ किया जाएगा</td>
                     </tr>
                     <tr>
                         <td>10.01.2024<br> बुधवार</td>
                         <td>पौष मास में कृष्ण पक्ष चतुर्दशी को प्रातः काल 11.45 बजे भगवान श्री सांवलियाजी का भण्डार खोला जायेगा।</td>
                     </tr>
                     <tr>
                         <td>11.01.2024 <br>गुरुवार </td>
                         <td>पौष मास कृष्ण पक्ष अमावस्या पर शाम 6.00 बजे महाप्रसाद वितरण।</td>
                     </tr>
                     <tr>
                         <td>15.01.2024<br> सोमवार</td>
                         <td>मकर संक्रांति पर्व पौष मास कृष्ण पक्ष पंचमी तिथि को मनाया जाएगा।</td>
                     </tr>
                     <tr>
                         <td>21.01.2024 रविवार</td>
                         <td>कार्तिक शुक्ल पूर्णिमा, कार्तिक मास कथा का समापन।</td>
                     </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <table>
                    <tr>
                        <th colspan='2' style="background-color:#e5b610">फ़रवरी-2024</th>
                    </tr>
                    <tr>
                        <th style='width: 12%;'>दिनांक समय</th>
                        <th>आयोजन</th>
                    </tr>
                 
                    <tr>
                         <td>06.02.2024<br> मंगलवार </td>
                         <td>माघ मास कृष्ण पक्ष की एकादशी पर्व पर एकादशी कथा का पाठ किया जाएगा।</td>
                     </tr>
                     <tr>
                         <td>08.02.2024 <br>गुरुवार</td>
                         <td>माघ मास के कृष्ण पक्ष चतुर्दशी को सुबह 11.45 बजे भगवान श्री सवालियाजी का भण्डार खुलेगा</td>
                     </tr>
                     <tr>
                         <td>09.02.2024<br> शुक्रवार</td>
                         <td>माघ मास कृष्ण पक्ष अमावस्या पर शाम 6.00 बजे महाप्रसाद वितरण</td>
                     </tr>
                     <tr>
                         <td>14.02.2024 बुधवार </td>
                         <td>माघ मास शुक्ल पक्ष बसंत पंचमी की सुबह आम के पत्ते, गुलाल और रंग से भगवान श्री सांवलियाजी का श्रृंगार करें।</td>
                     </tr>
                     <tr>
                         <td>20.02.2024 मंगलवार</td>
                         <td>माघ मास शुक्ल पक्ष की एकादशी पर्व पर एकादशी कथा का पाठ किया जाएगा।</td>
                     </tr>
                </table>
            </div>
            
        
            <div class="col-md-6">
                <table>
                    <tr>
                        <th colspan='2' style="background-color:#e5b610">मार्च-2024</th>
                    </tr>
                    <tr>
                        <th style='width: 12%;'>दिनांक समय</th>
                        <th>आयोजन</th>
                    </tr>
                   <tr>
                         <td>06.03.2024<br> बुधवार</td>
                         <td>फाल्गुन मास कृष्ण पक्ष की एकादशी पर्व पर एकादशी कथा का पाठ किया जाएगा।</td>
                     </tr>
                     <tr>
                         <td>08.03.2024 <br> शुक्रवार</td>
                         <td>फाल्गुन मास कृष्ण पक्ष त्रयोदशी को महाशिवरात्रि पर्व पार्थिव शिव पूजा और रुद्राभिषेक कार्यक्रम होगा।</td>
                     </tr>
                     <tr>
                         <td>10.03.2024 <br>रविवार</td>
                         <td>फाल्गुन मास कृष्ण पक्ष अमावस्या पर शाम 6.00 बजे महाप्रसाद वितरण।</td>
                     </tr>
                     <tr>
                         <td>20.03.2024<br> बुधवार</td>
                         <td>फाल्गुन मास शुक्ल पक्ष की एकादशी पर्व पर एकादशी कथा का पाठ किया जाएगा</td>
                     </tr>
                     <tr>
                         <td>24.03.2024 रविवार</td>
                         <td>फाल्गुन मास के शुक्ल पक्ष की पूर्णिमा को प्रातः 41.45 बजे श्री सांवलियाजी का भण्डार खुलेगा, शाम को होलिका दहन होगा।</td>
                     </tr>
                     <tr>
                         <td>25.03.2024 सोमवार</td>
                         <td>फाल्गुन मास की शुक्ल पक्ष की पूर्णिमा को फूलडोल महोत्सव की शुरुआत सुबह 11.45 बजे मुख्य पुजारी के सानिध्य में होगी. रात्रि में भगवान श्री सांवलियाजी की। आरती के बाद हल्के मीठे पकौड़े का प्रसाद वितरण।</td>
                     </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <table>
                    <tr>
                        <th colspan='2' style="background-color:#e5b610">अप्रैल-2024</th>
                    </tr>
                    <tr>
                        <th style='width: 12%;'>दिनांक& समय</th>
                        <th>आयोजन</th>
                    </tr>
                   <tr>
                         <td>05.04.2024<br> शुक्रवार</td>
                         <td>चैत्र मास के कृष्ण पक्ष की एकादशी पर्व पर एकादशी कथा का पाठ किया जाएगा</td>
                     </tr>
                     <tr>
                         <td>07.04.2024<br> रविवार</td>
                         <td> चैत्र मास कृष्ण पक्ष चतुर्दशी को प्रात: 11.45 बजे भगवान श्री सांवलियाजी का भण्डार खुलेगा</td>
                     </tr>
                     <tr>
                         <td>08.04.2024<br> सोमवार</td>
                         <td>चैत्र मास कृष्ण पक्ष अमावस्या पर शाम 6.00 बजे महाप्रसाद वितरण</td>
                     </tr>
                </table>
            </div>
        </div>
    </div>

    {% include 'footer-hin.html' %}
    <!-- ================> Footer section end here <================== --><!-- scrollToTop start here -->
    <a href="#" class="scrollToTop"><i class="fas fa-arrow-up"></i><span class="pluse_1"></span><span class="pluse_2"></span></a>
    <!-- scrollToTop ending here -->
      


      <script>
    $(document).ready(function() {
  // Get a reference to the audio element
  var audio = document.getElementById("myAudio");

  // Get a reference to the play button
  var playButton = document.getElementById("playButton");
 var playButton1 = document.getElementById("playButton1");
  // Add an event listener to the play button
  $('#playButton').css('display','none');
   $('#playButton1').css('display','block');
  audio.pause();
  playButton.addEventListener("click", function() {
    // Toggle the playing state of the audio
    if (audio.paused) {
      audio.play();
      $('#playButton').show();
       $('#playButton1').hide();
     
    } else {
      audio.pause();
      $('#playButton1').show();
       $('#playButton').hide();
    }
  });
  playButton1.addEventListener("click", function() {
    // Toggle the playing state of the audio
    if (audio.paused) {
      audio.play();
      $('#playButton').show();
       $('#playButton1').hide();
     
    } else {
      audio.pause();
      $('#playButton1').show();
       $('#playButton').hide();
    }
  });
});
</script>
{% endblock  %}
</body>
</html>