{% load static %}
<!DOCTYPE html>
{% block content %}
 <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Shri Sanwariya Seth</title>
   {% include 'links.html' %}
    <!-- main css for template -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <style>
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.header-banner-inner{
    margin-top:40px;
}
.img-details{
    padding:10px;
}
.row{
    margin-top:10px !important;
}
.full-view-image {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    text-align: center;
    overflow: auto;
  }

  .full-view-image img {
    max-width: 90%;
    max-height: 90%;
    margin: 5% auto;
    display: block;
  }

  .full-view-image .nav-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 999;
  }

  .full-view-image .nav-button {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
  }

body{
    background-color:#ecebeb;
}
    </style>
  </head>

<body>
    {% include 'header.html' %}
    
     <div class='header-banner'>
    <img src='{% static 'images/54banner.png' %}' alt='About Us'>
      <div class='max-container'>
        <div class='header-banner-inner'>
          <h1 style="text-align:center;margin-bottom:30px;color:#e5b610">Gallery</h1>
        </div>
      </div>
    </div>
 <section class="img-details"> 
    <main class="main-container container">
        <div class="basic-page-wrapper">
          <div class="row">
            
            <section class="col-sm-12">
            <!-- <section class="col-xs-12 content-wrapper"> -->
                              <a id="main-content"></a>
                                <!-- <h1 class="page-header"></h1> -->
                                                                        
                <div class="region region-content">
          <section id="block-system-main" class="block block-system clearfix">
      
            
        <div class="view view-photo-gallery view-id-photo_gallery view-display-id-page view-dom-id-989916d0a735164642ef05becde734a9">
              
            <div class="view-filters">
            <form class="ctools-auto-submit-full-form" action="/en/photo-gallery" method="get" id="views-exposed-form-photo-gallery-page" accept-charset="UTF-8"><div><div class="views-exposed-form">
       
      </div>
      </div></form>    </div>
        
        
            <div class="view-content">
            <div id="loader" style="display: none;"></div>
      <table class="views-view-grid cols-4">
        
        <tbody>
                <tr >
                        <td >
                    
        <div class="views-field views-field-field-photo-gallery">        <div class="field-content"><a href="{% static 'images/01full.jpg' %}" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" class="img-responsive" src="{% static 'images/01.png' %}" alt="" title="" /></a></div>  </div>          </td>
                        <td >
                    
        <div class="views-field views-field-field-photo-gallery">        <div class="field-content"><a href="{% static 'images/03full.jpg' %}"   data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" class="img-responsive" src="{% static 'images/03.png' %}" alt="" title="" /></a></div>  </div>          </td>
                        <td >
                    
        <div class="views-field views-field-field-photo-gallery">        <div class="field-content"><a href="{% static 'images/04full.jpg' %}"  data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" class="img-responsive" src="{% static 'images/04.png' %}" alt="" title="" /></a></div>  </div>          </td>
                        <td >
                    
        <div class="views-field views-field-field-photo-gallery">        <div class="field-content"><a href="{% static 'images/43full.jpg' %}"   data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" class="img-responsive" src="{% static 'images/43.png' %}" alt="" title="" /></a></div>  </div>          </td>
                    </tr>
                <tr >
                        <td >
                    
        <div class="views-field views-field-field-photo-gallery">        <div class="field-content"><a href="{% static 'images/77full.jpg' %}"  data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" class="img-responsive" src="{% static 'images/77.png' %}" alt="" title="" /></a></div>  </div>          </td>
                        <td >
                    
        <div class="views-field views-field-field-photo-gallery">        <div class="field-content"><a href="{% static 'images/71full.jpg' %}"  data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" class="img-responsive" src="{% static 'images/71.png' %}" alt="" title="" /></a></div>  </div>          </td>
                        <td >
                    
        <div class="views-field views-field-field-photo-gallery">        <div class="field-content"><a href="{% static 'images/02-1full.jpg' %}"   data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" class="img-responsive" src="{% static 'images/02-1.png' %}" alt="" title="" /></a></div>  </div>          </td>
                        <td >
                    
        <div class="views-field views-field-field-photo-gallery">        <div class="field-content"><a href="{% static 'images/28full.jpg' %}"   data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" class="img-responsive" src="{% static 'images/28.png' %}" alt="" title="" /></a></div>  </div>          </td>
                    </tr>
                <tr >
                        <td >
                    
        <div class="views-field views-field-field-photo-gallery">        <div class="field-content"><a href="{% static 'images/10full.jpg' %}"   data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" class="img-responsive" src="{% static 'images/10.png' %}" alt="" title="" /></a></div>  </div>          </td>
                        <td >
                    
        <div class="views-field views-field-field-photo-gallery">        <div class="field-content"><a href="{% static 'images/05full.jpg' %}"   data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" class="img-responsive" src="{% static 'images/05.png' %}" alt="" title="" /></a></div>  </div>          </td>
                        <td >
                    
        <div class="views-field views-field-field-photo-gallery">        <div class="field-content"><a href="{% static 'images/1370full.jpg' %}"   data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" class="img-responsive" src="{% static 'images/1370.png' %}" alt="" title="" /></a></div>  </div>          </td>
                        <td >
                    
        <div class="views-field views-field-field-photo-gallery">        <div class="field-content"><a href="{% static 'images/09full.jpg' %}"   data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" class="img-responsive" src="{% static 'images/09.png' %}" alt="" title="" /></a></div>  </div>          </td>
                    </tr>
                <tr >
                        <td >
                    
        <div class="views-field views-field-field-photo-gallery">        <div class="field-content"><a href="{% static 'images/18full.jpg' %}"   data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" class="img-responsive" src="{% static 'images/18.png' %}" alt="" title="" /></a></div>  </div>          </td>
                        <td >
                    
        <div class="views-field views-field-field-photo-gallery">        <div class="field-content"><a href="{% static 'images/12full.jpg' %}"   data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" class="img-responsive" src="{% static 'images/12.png' %}" alt="" title="" /></a></div>  </div>          </td>
                        <td >
                    
        <div class="views-field views-field-field-photo-gallery">        <div class="field-content"><a href="{% static 'images/14full.jpg' %}"   data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" class="img-responsive" src="{% static 'images/14.png' %}" alt="" title="" /></a></div>  </div>          </td>
                        <td >
                    
        <div class="views-field views-field-field-photo-gallery">        <div class="field-content"><a href="{% static 'images/17full.jpg' %}"   data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" class="img-responsive" src="{% static 'images/17.png' %}" alt="" title="" /></a></div>  </div>          </td>
                    </tr>
                <tr >
                        <td >
                    
        <div class="views-field views-field-field-photo-gallery">        <div class="field-content"><a href="{% static 'images/39full.jpg' %}"   data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" class="img-responsive" src="{% static 'images/39.png' %}" alt="" title="" /></a></div>  </div>          </td>
                        <td >
                    
        <div class="views-field views-field-field-photo-gallery">        <div class="field-content"><a href="{% static 'images/41full.jpg' %}"   data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" class="img-responsive" src="{% static 'images/41.png' %}" alt="" title="" /></a></div>  </div>          </td>
                        <td >
                    
        <div class="views-field views-field-field-photo-gallery">        <div class="field-content"><a href="{% static 'images/46full.jpg' %}"   data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" class="img-responsive" src="{% static 'images/46.png' %}" alt="" title="" /></a></div>  </div>          </td>
                        <td >
                    
        <div class="views-field views-field-field-photo-gallery">        <div class="field-content"><a href="{% static 'images/54full.jpg' %}"   data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" class="img-responsive" src="{% static 'images/54.png' %}" alt="" title="" /></a></div>  </div>          </td>
                    </tr>
                <tr >
                        <td >
                    
        <div class="views-field views-field-field-photo-gallery">        <div class="field-content"><a href="{% static 'images/58full.jpg' %}"   data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" class="img-responsive" src="{% static 'images/58.png' %}" alt="" title="" /></a></div>  </div>          </td>
                        <td >
                    
        <div class="views-field views-field-field-photo-gallery">        <div class="field-content"><a href="{% static 'images/63full.jpg' %}"   data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" class="img-responsive" src="{% static 'images/63.png' %}" alt="" title="" /></a></div>  </div>          </td>
                        <td >
                    
        <div class="views-field views-field-field-photo-gallery">        <div class="field-content"><a href="{% static 'images/64full.jpg' %}"   data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" class="img-responsive" src="{% static 'images/64.png' %}" alt="" title="" /></a></div>  </div>          </td>
                        <td >
                    
        <div class="views-field views-field-field-photo-gallery">        <div class="field-content"><a href="{% static 'images/80full.jpg' %}"   data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" class="img-responsive" src="{% static 'images/80.png' %}" alt="" title="" /></a></div>  </div>          </td>
                    </tr>
            </tbody>
      </table>
          </div>
        
           
        
        
        
        
      </div>
      </section>
        </div>
      
            </section>
      
            
          </div>
        </div>
      </main>
    
    <div class ='container'>
        <div class="row">
            <h3 style="text-align:center;margin-bottom:30px; margin-top:30px; color:#e5b610">Videos</h3>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 margin-bottom-30">  
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://www.youtube.com/embed/IqPdBrqxiec" id="video" allowscriptaccess="always" ></iframe>                  
                </div>
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 margin-bottom-30">   
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://www.youtube.com/embed/My5JPLUiP18" id="video" allowscriptaccess="always" ></iframe>                  
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 margin-bottom-30">   
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://www.youtube.com/embed/kMGWZtVJGJo" id="video" allowscriptaccess="always" ></iframe>                  
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 margin-bottom-30">   
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://www.youtube.com/embed/Wn8JZSpIBTg" id="video" allowscriptaccess="always" ></iframe>                  
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 margin-bottom-30">   
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://www.youtube.com/embed/lSVwVfanCyg" id="video" allowscriptaccess="always" ></iframe>                  
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 margin-bottom-30">   
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://www.youtube.com/embed/LhX-VJvX0Is" id="video" allowscriptaccess="always" ></iframe>                  
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 margin-bottom-30">   
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://www.youtube.com/embed/tCR3ff_iRP4" id="video" allowscriptaccess="always" ></iframe>                  
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 margin-bottom-30">   
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://www.youtube.com/embed/nHAD9Yg8Qs8" id="video" allowscriptaccess="always" ></iframe>                  
                </div>
            </div>

            
        </div> 
    </div>
</section>
    
    
    
    
    
    
    
    
{% include 'footer.html' %}
    <!-- ================> Footer section end here <================== --><!-- scrollToTop start here -->
    <a href="#" class="scrollToTop"><i class="fas fa-arrow-up"></i>
      <span class="pluse_1"></span><span class="pluse_2"></span>
    </a>
    <!-- scrollToTop ending here -->
   
<script>
    $(document).ready(function() {
  // Get a reference to the audio element
  var audio = document.getElementById("myAudio");

  // Get a reference to the play button
  var playButton = document.getElementById("playButton");
 var playButton1 = document.getElementById("playButton1");
  // Add an event listener to the play button
  $('#playButton').css('display','none');
   $('#playButton1').css('display','block');
  audio.pause();
  playButton.addEventListener("click", function() {
    // Toggle the playing state of the audio
    if (audio.paused) {
      audio.play();
      $('#playButton').show();
       $('#playButton1').hide();
     
    } else {
      audio.pause();
      $('#playButton1').show();
       $('#playButton').hide();
    }
  });
  playButton1.addEventListener("click", function() {
    // Toggle the playing state of the audio
    if (audio.paused) {
      audio.play();
      $('#playButton').show();
       $('#playButton1').hide();
     
    } else {
      audio.pause();
      $('#playButton1').show();
       $('#playButton').hide();
    }
  });
});



</script>
{% endblock %}
</body>
</html>