{% if x %}
<tr id={{x.id}}>
    <th scope="row">{{x.username}}</th>
    <td >{{x.role}}</td>
    <td >{{x.active}}</td>
    <td >{{x.createddatetime}}</td>
    <td >{{x.modifieddatetime}}</td>
    {% if request.session.role == 'superadmin' %}
    {% if x.role == 'admin' and x.active == 'Yes' %}
    <td> <button id="btnModify" data-active={{x.active}} data-username={{x.username}}>Disable</button></td>
    {% endif %}
    {% if x.role == 'admin' and x.active == 'No' %}
    <td> <button id="btnModify" data-active={{x.active}} data-username={{x.username}}>Enable</button></td>
    {% endif %}
    {% endif %}
</tr>
{% endif %}


