{% extends 'master.html' %}
{% block css %}
    .info-msg,
    .success-msg,
    .warning-msg,
    .error-msg {
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
    }

    .success-msg {
    color: #270;
    background-color: #DFF2BF;
    }
    .error-msg {
        color: #D8000C;
        background-color: #FFBABA;
      }
input[type="email"]
    {
    width:250px;
    padding-left:0px;
    margin-left:0px;
    }
    {% endblock css %}

{% block bodycontent %}
<div class ="container">
<div class="row">
<div class="col-md-6 login-form" style="margin-top:30px;padding-top: 10px;">
<h3>Password Reset</h3>
<p style="padding-top: 0px;margin-top: 0px;">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one. </p>
<form method="POST"  >
{% csrf_token %}
<div style="padding-right:150px;">
<input type="email" name="email"   autocomplete="email" maxlength="254" required id="id_email" placeholder="Enter email">
<input  type="submit" value="submit" id="submit">
</div>

<div >
<strong>Don't Have An Account?? </strong><a class="reg" href="{% url 'register' %}">Register</a>
 </div>
<div >
<strong>Want to try login? </strong><a class="reg" href="{% url 'login' %}">Login</a>
</div>
 </form>
       </br>
       {% if form.errors %}
       <div style="width:300px;" class="alert alert-danger alert-dismissible" role="alert">
          
               {% for key, value in form.errors.items %}
                   <span style="float: left;">{{ value }}</span>
               {% endfor %}
           <button style="margin-left: 30px;" type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
           </button>
       </div>
        {% endif %}
</div>
</div>
</div>
{% endblock bodycontent %}